.game h1 {
  font-size:2.5rem;
}
.points span{
  font-weight: bold;
  font-size: 1.5rem;
}
.tip span{
  color: gold;
}
.wordContainer {
  margin: 1.5rem;
  
  padding: 1.5rem;
  border: 20px solid gold;
  display: flex;
  

}
.wordContainer span{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;  
}
.letter, .blankSquare {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid black;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  font-weight: bold;
  


}
.letterContainer p {
  margin-bottom: 1.2rem;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  text-align: center;
  margin-right: 1rem;

}

